In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('C:/Users/Dinesh/Downloads/zomato.csv')
#use backward slashes to avoid unicode error or use .(r'')
#dataframe is a 2d datastructrue like table or simple extension to dictionary like key-value pair

In [3]:
type(data)

pandas.core.frame.DataFrame

In [4]:
data.head(3)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari

In [5]:
data.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [6]:
data.shape
#For dimensions

(51717, 17)

In [7]:
data.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
51712    False
51713    False
51714    False
51715    False
51716    False
Length: 51717, dtype: bool

In [8]:
 data.duplicated().sum()

0

In [9]:
data.isnull().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7775
votes                              0
phone                           1208
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [10]:
data.dropna(subset=['location'],inplace = True)

In [11]:
data.isnull().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7754
votes                              0
phone                           1187
location                           0
rest_type                        206
dish_liked                     28057
cuisines                          24
approx_cost(for two people)      325
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [12]:
data.head(3)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari

In [13]:
df = data.copy()

In [14]:
df['location'] = df['location'] + ' , Bengaluru, Karnataka, India'

In [15]:
df['location']

0               Banashankari , Bengaluru, Karnataka, India
1               Banashankari , Bengaluru, Karnataka, India
2               Banashankari , Bengaluru, Karnataka, India
3               Banashankari , Bengaluru, Karnataka, India
4               Basavanagudi , Bengaluru, Karnataka, India
                               ...
51712             Whitefield , Bengaluru, Karnataka, India
51713             Whitefield , Bengaluru, Karnataka, India
51714             Whitefield , Bengaluru, Karnataka, India
51715    ITPL Main Road, Whitefield , Bengaluru, Karnat...
51716    ITPL Main Road, Whitefield , Bengaluru, Karnat...
Name: location, Length: 51696, dtype: object

In [16]:
df.dtypes

url                            object
address                        object
name                           object
online_order                   object
book_table                     object
rate                           object
votes                           int64
phone                          object
location                       object
rest_type                      object
dish_liked                     object
cuisines                       object
approx_cost(for two people)    object
reviews_list                   object
menu_item                      object
listed_in(type)                object
listed_in(city)                object
dtype: object

In [17]:
res_loc = pd.DataFrame()

In [18]:
res_loc['Name'] = df['location'].unique()

In [19]:
pip install geopy

Requirement already satisfied: geopy in c:\users\dinesh\anaconda3\lib\site-packages (2.4.0)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\dinesh\anaconda3\lib\site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [20]:
from geopy.geocoders import Nominatim

In [21]:
geolocator = Nominatim(user_agent="app", timeout = None)

C:\Users\Dinesh\anaconda3\lib\site-packages\geopy\adapters.py:668: UserWarning: urllib3 prior to 1.24.2 is known to have a bug with custom ssl contexts: it attempts to load system certificates to them. Please consider upgrading `requests` and `urllib3` packages. See https://github.com/urllib3/urllib3/pull/1566
  warnings.warn(

In [22]:
lat = []
lon = []

for name in res_loc['Name']:
    location = geolocator.geocode(name)
    
    
    if location is None:
        lat.append(np.nan)
        lon.append(np.nan)
        
    else:
        lat.append(location.latitude)
        lon.append(location.longitude)

In [23]:
print(lat)

[12.9152208, 12.9417261, 12.9467026, 12.9292731, 12.9081487, 12.9274413, 12.9660722, 12.9055682, 12.9120761, 12.9287596, 12.965717999999999, 13.0212148, 12.8754983, 12.911275849999999, 12.9222072, 12.9089453, 12.985098650000001, 12.848759900000001, 12.9116225, 12.9552572, 12.9240361, 12.9489339, 12.9575547, 12.9348429, 12.9408685, 12.9700953, 12.9364846, 13.0464531, 12.9327778, 12.93103185, 12.9696365, 12.983503899999999, 12.9572222, 12.9732913, 12.9277245, 12.9986827, 13.0227204, 12.9755264, 12.9699876, 12.9749487, 12.9742939, 12.9778793, 12.9741926, 12.986391, 12.9837879, 12.9744255, 12.9830573, 12.9820498, 12.9822323, 12.988721250000001, 13.0358698, 12.9624669, 12.945245, 12.9678074, 12.9857257, 13.0027353, 12.9931876, 13.0093455, 12.9390255, 12.978129800000001, 12.957998, 12.9691501, 12.9578658, 12.957434549999999, 12.9862452, 12.944569, 13.007516, 12.9243692, 12.9282918, 12.9340114, 12.8698264, 12.9882338, 13.0141618, 13.022234699999998, 13.0422794, 13.0258087, 13.0221416, 13.0384423, 13.0784743, nan, 12.973936, 12.9846713, 13.0382184, 12.9176571, 12.9993929, nan, 12.9932236, 13.02383, 13.022234699999998, 12.9756527, 13.1006982, 13.0621474, 13.0329419]

In [24]:
res_loc['lat'] = lat
res_loc['lon'] = lon

In [25]:
res_loc

                                                Name        lat        lon
0         Banashankari , Bengaluru, Karnataka, India  12.915221  77.573598
1         Basavanagudi , Bengaluru, Karnataka, India  12.941726  77.575502
2          Mysore Road , Bengaluru, Karnataka, India  12.946703  77.530070
3            Jayanagar , Bengaluru, Karnataka, India  12.929273  77.582423
4   Kumaraswamy Layout , Bengaluru, Karnataka, India  12.908149  77.555318
..                                               ...        ...        ...
88      West Bangalore , Bengaluru, Karnataka, India  13.022235  77.567183
89         Magadi Road , Bengaluru, Karnataka, India  12.975653  77.555355
90           Yelahanka , Bengaluru, Karnataka, India  13.100698  77.596345
91      Sahakara Nagar , Bengaluru, Karnataka, India  13.062147  77.580061
92              Peenya , Bengaluru, Karnataka, India  13.032942  77.527325

[93 rows x 3 columns]

In [26]:
res_loc.isnull().sum()

Name    0
lat     2
lon     2
dtype: int64

In [27]:
res_loc['lat'].isnull()

0     False
1     False
2     False
3     False
4     False
      ...
88    False
89    False
90    False
91    False
92    False
Name: lat, Length: 93, dtype: bool

In [28]:
res_loc[res_loc['lat'].isnull()]

                                             Name  lat  lon
79  Rammurthy Nagar , Bengaluru, Karnataka, India  NaN  NaN
85   Sadashiv Nagar , Bengaluru, Karnataka, India  NaN  NaN

In [29]:
res_loc['lat'][79] = 13.0085
res_loc['lon'][80] = 77.6737

<ipython-input-29-8918e23b332d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_loc['lat'][79] = 13.0085
<ipython-input-29-8918e23b332d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_loc['lon'][80] = 77.6737

In [30]:
res_loc.iloc[79,:]
#Use iloc to look for particulur row or column in dataframe

Name    Rammurthy Nagar , Bengaluru, Karnataka, India
lat                                           13.0085
lon                                               NaN
Name: 79, dtype: object

In [31]:
import warnings
from warnings import filterwarnings
filterwarnings('ignore')

In [32]:
geolocator = Nominatim(user_agent = "app",timeout = None)
df['address'][0]

'942, 21st Main Road, 2nd Stage, Banashankari, Bangalore'

In [33]:
loc = geolocator.geocode(df['address'][0])
hasattr(loc,'latitude')

False

In [36]:
address = {'street':'21st Main Road', 'Area':'Banashankari','city':' Bangalore','country':'India'}
address_geocode = geolocator.geocode(address)

In [37]:
hasattr(address_geocode, 'latitude')

True

In [38]:
address_geocode.latitude

12.968344

In [39]:
address_geocode.longitude

77.5334268